<%- include('partials/header'); %>

<% if (user.type == 'host') { %>
<%- include('partials/users/host'); %>
<% } %>


<% if (user.type == 'point') { %>
<%- include('partials/users/point'); %>
<% } %>


<script>
    const userId = "<%= user.id %>";
    const userType = "<%= user.type %>";
    const roomId = "<%= 1 %>";
    var user = JSON.parse('<%-JSON.stringify(user)%>');
</script>


<script src="js/dashboard/suscriptor.js"></script>
<script src="js/dashboard/templates.js"></script>
<script src="js/dashboard/peers.js"></script>
<script src="js/dashboard/notification.js"></script>

<% if (user.type == 'host') { %>
<script src="js/dashboard/host.js" defer></script>
<% } else { %>
<script src="js/dashboard/point.js" defer></script>
<% }  %>

<%- include('partials/footer'); %>