<%- include('partials/header'); %>

<div class="container-fluid mt-4">

    <!--<button id="btnInit" class="btn btn-primary">Iniciar</button>-->

    <div class="row" id="videoGrid">
        <div class="col-3 video-container">
            <div class="col-12 video">
                <img class="img-fluid"
                    src="https://devtalk.blender.org/uploads/default/original/2X/c/cbd0b1a6345a44b58dda0f6a355eb39ce4e8a56a.png">
                </img>
                <button class="btn btn-danger btnLink"><b>Desvincular</b></button>
            </div>
        </div>
        <div class="col-3 video-container">
            <div class="col-12 video">
                <img class="img-fluid"
                    src="https://devtalk.blender.org/uploads/default/original/2X/c/cbd0b1a6345a44b58dda0f6a355eb39ce4e8a56a.png">
                </img>
                <button class="btn btn-primary btnLink"><b>Vincular</b></button>
            </div>
        </div>
        <div class="col-3 video-container">
            <div class="col-12 video">
                <img class="img-fluid"
                    src="https://devtalk.blender.org/uploads/default/original/2X/c/cbd0b1a6345a44b58dda0f6a355eb39ce4e8a56a.png">
                </img>
                <button class="btn btn-primary btnLink"><b>Vincular</b></button>
            </div>
        </div>
        <div class="col-3 video-container">
            <div class="col-12 video">
                <img class="img-fluid"
                    src="https://devtalk.blender.org/uploads/default/original/2X/c/cbd0b1a6345a44b58dda0f6a355eb39ce4e8a56a.png">
                </img>
                <button class="btn btn-primary btnLink"><b>Vincular</b></button>
            </div>
        </div>
    </div>

    <div class="row"></div>

    <div class="col-2 video-container" style="position: fixed; bottom: 0;">
        <div class="col-12 video myVideo">
            <img class="img-fluid"
                src="https://devtalk.blender.org/uploads/default/original/2X/c/cbd0b1a6345a44b58dda0f6a355eb39ce4e8a56a.png">
            </img>
        </div>
    </div>
    <!--<div id="myVideo" class="col-2" style="height: 200px; border: 1px solid red;">

        </div>-->

</div>

<%- include('partials/footer'); %>