<%- include('partials/header'); %>

<div class="container">
    <div class="row align-items-center justify-content-center mt-5">
        <div class="col-6 login">
            <form action="login" method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">Usuario</label>
                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
                        placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-primary w-100">Ingresar</button>
            </form>

            <div class="form-group mt-2">
                <%- include('partials/alerts'); %>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer'); %>