<%- include('partials/header'); %>

<div class="container">
    <div class="row align-items-center justify-content-center mt-5">
        <div class="col-6 login">
            <form action="register" method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nombre</label>
                    <input type="text" class="form-control" name="name" aria-describedby="emailHelp" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Apellido</label>
                    <input type="" class="form-control" name="lastname" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInput1">Email</label>
                    <input type="" class="form-control" name="email" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInput1">Contraseña</label>
                    <input type="password" class="form-control" name="password" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInput1">Tipo</label>
                    <select class="form-control" name="type">
                        <option value="host">HOST</option>
                        <option value="point">POINT</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary w-100">Registrar</button>
            </form>
        </div>
    </div>
</div>

<%- include('partials/footer'); %>