/*
.dashboard {
    background: #1C1C1E !important;
}

.login {
    border: 1px solid #ccc;
    padding: 2em;
}

.video-container {
    display: flex;
    justify-content: center;
}

.video {
    width: 80% !important;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 450px;
}

.video img {
    max-height: 350px;
}

.video .btnLink {
    margin-top: 2em !important;
}

.myVideo img {
    max-height: 200px !important;
}

.myVideo {
    height: 300px !important;
}

#myVideoPoint video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
*/
* {
    font-family: 'Roboto', sans-serif;
}

.wrap {
    background:#1C1C1E !important;
    height: 100vh;
}

.container-wrap {
   display: flex;

}

#videoPoint {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

#videoPoint img {
    width: 100%;
    height: 100%;
}

#messageContainer {
    height: 75% !important;
    background: #313131 !important;
    padding: 0px;
    color: #fff;
    border-left: 1px solid #313131;
    overflow: auto;
    z-index: 2;
}

#messageContainer::-webkit-scrollbar-track
{
  background-color: #313131;
  border-radius: 1em;
  height: 20px !important;
}

#messageContainer::-webkit-scrollbar
{
  width: 5px;
  background-color: #313131;
  border-radius: 1em;
  height: 20px !important;
}

#messageContainer::-webkit-scrollbar-thumb
{
	background-color: #ffffff;
    border-radius: 1em;
    height: 20px !important;
}

#messageContainer h4 {
    font-weight: 600 !important;
    margin: 0.2em;
}

#messageContainer .hour {
    font-size: 0.8em;
}

#myVideo {
    width: 100%;
    height: 25%;
    background: #ccc;
    bottom: 0;
    padding: 0;
    z-index: 2
}

.video {
    background: #ccc;
    padding: 0 !important;
    height: 100vh;
    transition: 0.5s;
    display: block;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video h5 {
    color: #fff;
    font-weight: 600;
}

.actions {
    position: absolute;
    bottom: 5px;
    padding: 0.8em;
    z-index: 999 !important;
}

.fullScreen {
    position: fixed !important;
    z-index: 1;
}

.hvh50 {
    height: 50vh !important;
}

.sp {
    padding: 0 !important;
}

.toast {
    position: absolute;
    top: 0;
    left: 0;
}

/*Circle*/

.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}

.circle-green {
    background: rgb(40, 168, 94);
    animation: intermittentGreen;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.circle-red {
    background: rgb(238, 76, 59);
    animation: intermittentRed;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/*Point*/

#myVideoPoint {
    height: 100vh !important;
    padding: 0 !important;
}

#publicity {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#publicity h1 {
   animation: changeColor;
   animation-duration: 5s;
   animation-iteration-count: infinite;
}

@keyframes changeColor{
    0% {color: #000;} 
   25% {color: #ccc;} 
   50% {color: #000;} 
   100% {color: #ccc;} 
}

@keyframes intermittentRed {
    0% {
        border: 4px solid rgb(238, 76, 59);
    }

    25% {
        border: 4px solid rgb(243, 93, 77);
    }

    50% {
        border: 4px solid rgb(241, 119, 106);
    }

    100% {
        border: 4px solid rgb(243, 73, 54);
    }
}

@keyframes intermittentGreen {
    0% {
        border: 4px solid rgb(40, 168, 94);

    }

    25% {
        border: 4px solid rgb(92, 199, 136);
    }

    50% {
        border: 4px solid rgb(103, 185, 137);

    }

    100% {
        border: 4px solid rgb(40, 168, 94);
    }
}