<%- include('../header'); %>
<div class="wrap">
    <div class="container-wrap">
        <div class="col-10" id="videoPoint">

        </div>

        <div class="col-2 p-0 m-0" style="height: 100vh;">
            <div class="col-12" id="messageContainer">
                <div>
                    <h4 class="text-center p-0 m-0">Notificaciones</h4>
                </div>

                <div class="col-12 messages mt-2">

                </div>
            </div>
            <div class="col-12" id="myVideo">

            </div>
        </div>

    </div>
</div>