<%- include('../header'); %>

<div class="wrap">
    <div class="container-wrap">

        <div class="col-10" id="videoPoint">
            <!--
            <div class="col-8 video">

                <div class="actions">
                    <button class="btn btn-light"><i class="fas fa-external-link-alt"></i></button>
                    <button class="btn btn-light"><i class="fas fa-expand"></i></button>
                </div>
            </div>

            <div class="col-4">
                <div class="col-12 video" style="height: 50vh;">

                    <div class="actions">
                        <button class="btn btn-light"><i class="fas fa-external-link-alt"></i></button>
                        <button class="btn btn-light"><i class="fas fa-expand"></i></button>
                    </div>
                </div>
                <div class="col-12 video" style="height: 50vh;">

                    <div class="actions">
                        <button class="btn btn-light"><i class="fas fa-external-link-alt"></i></button>
                        <button class="btn btn-light"><i class="fas fa-expand"></i></button>
                    </div>
                </div>
            </div>
            -->

        </div>

        <div class="col-2" id="messageContainer">

            <h4 class="text-center">Notificaciones</h4>

            <div class="col-12 messages mt-2">

                <div>
                    <p>Aviso desde <b>Point 1</b> <i class="fas fa-pause-circle"></i><br><span class="hour">11:30</span>
                    </p>
                </div>
                <div>
                    <p>Aviso desde <b>Point 1</b> <i class="fas fa-pause-circle"></i><br><span class="hour">11:30</span>
                    </p>
                </div>
                <div>
                    <p><b>Point 1</b> Desconectado <br><span class="hour">11:30</span>
                    </p>
                </div>
                <div>
                    <p>Aviso desde <b>Point 1</b> <i class="fas fa-pause-circle"></i><br><span class="hour">11:30</span>
                    </p>
                </div>

            </div>
            <div class="col-12" id="myVideo">

            </div>
        </div>

    </div>
</div>

<script type="module" src="js/videos.js" defer></script>
<%- include('../footer'); %>